/* 閉じるボタンのCSS */
.gm-ui-hover-effect {
  visibility: hidden;
}

.gm-style-iw.gm-style-iw-c {
  padding: 0;
  box-shadow: none;
}

.gm-style-iw-tc {
  visibility: hidden;
}

.gm-style-iw-d {
  all: unset;
}
